<div class="container my-5" *ngIf="order; else loading">
  <div class="card">
    <div class="card-header text-white align-items-center">
      <h3>Order Detail (ID: {{ order.id }})</h3>
    </div>
    <div class="card-body">
      <p><strong>Status:</strong>
        <span class="badge ms-2 p-2 bg-secondary" >
          {{ order.status }}
        </span></p>
      <p><strong>Payment Status:</strong> <span class="badge ms-2 p-2 bg-secondary" >
        {{ order.paymentStatus }}
      </span></p>
      <p><strong>Total Amount:</strong> ${{ order.totalAmount }}</p>
      <p><strong>Created At:</strong> {{ order.createdAt | date:'medium' }}</p>

      <hr>

      <table class="table table-bordered mt-3">
        <thead class="table-light">
          <tr>
            <th>#</th>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order.items; index as i">
            <td>{{ i + 1 }}</td>
            <td *ngIf="item.book">{{ item.book.bookName }}</td>
            <td *ngIf="item.bundle">
              {{ item.bundle.bundleName }} <br>
              <span *ngIf="item.bundle.books.length > 0">
                books:
                <span *ngFor="let book of item.bundle.books; let last = last"
                (click)="openShowBook(modalBookShow, item.bundle?.books)" class="text-decoration-underline cursor-pointer">
                  {{ book.bookName }}<span *ngIf="!last">, </span>
                </span>
              </span>
            </td>

            <td>{{ item.quantity }}</td>
            <td *ngIf="item.book">${{ item.book.price }}</td>
            <td *ngIf="item.bundle">${{ item.bundle.price }}</td>
            <td *ngIf="item.book">${{ item.quantity * item.book.price }}</td>
            <td *ngIf="item.bundle">${{ item.quantity * item.bundle.price }}</td>
          </tr>
          <tr>
            <td colspan="4" class="text-end pe-5"><strong>SubTotal:</strong></td>
            <td class="text-right">${{ calculateSubTotal() }}</td>
          </tr>

          <tr>
            <td colspan="4" class="text-end pe-5"><strong>Shipment:</strong></td>
            <td class="text-right">${{ shipmentCost }}</td>
          </tr>

          <tr>
            <td colspan="4" class="text-end pe-5"><strong>Grand Total:</strong></td>
            <td class="text-right">${{ calculateGrandTotal() }}</td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>

<ng-template #loading>
  <div class="text-center my-5">
    <div class="spinner-border text-primary" role="status"></div>
    <p class="mt-3">Loading order details...</p>
  </div>
</ng-template>
<ng-template #modalBookShow let-modalShow>
  <div class="modal-header">
    <h5 class="modal-title"> Books </h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalShow.dismiss()"></button>
  </div>
  <div class="modal-body">
    <app-books-list [books]='showBooks'   ></app-books-list>
  </div>
</ng-template>
