

<!--begin::Activities-->
<div class="app-navbar-item" [ngClass]="itemClass">
  <div [ngClass]="btnClass" class="position-relative" id="kt_activities_toggle" routerLink="/cart">
    <app-keenicon name="handcart" class="fs-2"></app-keenicon>
    <span
      class="position-absolute show-count translate-middle badge rounded-circle bg-danger text-white fs-8 fw-bold"
      *ngIf="cart.length > 0">
      {{ cart.length }}
    </span>
  </div>
</div>


<!--begin::User menu-->
<div class="app-navbar-item" [ngClass]="itemClass">
  <!--begin::Menu wrapper-->
  <div class="cursor-pointer symbol" [ngClass]="userAvatarClass" data-kt-menu-trigger="{default: 'click'}"
    data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end" (click)="logOut()">
    <img src="./assets/media/avatars/300-3.jpg" />
  </div>
  <app-user-inner data-kt-menu='true'></app-user-inner>
  <!--end::Menu wrapper-->
</div>
