
<div class="menu-item me-lg-3" *ngIf="!userId">
  <a class="menu-link nav-link px-3 py-2 rounded" routerLinkActive="active menu-here" routerLink="/auth/login">
    <span class="menu-title"> Login</span>
  </a>
</div>
<!--begin::Activities-->
<div class="app-navbar-item" [ngClass]="itemClass"*ngIf="userId">
  <div [ngClass]="btnClass" class="position-relative" id="kt_activities_toggle" routerLink="/cart">
    <app-keenicon name="handcart" class="fs-2"></app-keenicon>
    <span
      class="position-absolute show-count translate-middle badge rounded-circle bg-danger text-white fs-8 fw-bold"
      *ngIf="cart.length > 0">
      {{ cart.length }}
    </span>
  </div>
</div>


<div class="app-navbar-item dropdown" [ngClass]="itemClass" *ngIf="userId">
  <!--begin::Menu wrapper-->
  <div
    class="cursor-pointer symbol"
    [ngClass]="userAvatarClass"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <img src="./assets/images/dumy.jpg" />
  </div>
  <!--end::Menu wrapper-->

  <ul class="dropdown-menu dropdown-menu-end">
    <p class="text-center mt-2"> {{user.email}} </p>
    <hr>
    <li><a class="dropdown-item text-center" href="#" (click)="logOut()">Log Out</a></li>
  </ul>
</div>
