<!-- begin::Header -->

<div class="card-header border-0 pt-5 d-flex justify-content-between align-content-center align-items-center">
  <h3 class="card-title">
    <span class="card-label fw-bolder fs-3 mb-1">Bundle List</span>
  </h3>
  <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
    title="Click to add a user">
    <button type="button" class="btn btn-primary" (click)="open(modalContent)">
      Add Bundle
    </button>
  </div>

</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3" *ngIf="!isLoading; else loading">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted">
          <th class="w-25px">
            <div class="
                form-check form-check-sm form-check-custom form-check-solid
              ">
              <input class="form-check-input" type="checkbox" value="1" data-kt-check="true"
                data-kt-check-target=".widget-9-check" />
            </div>
          </th>
          <th class="min-w-150px">Name</th>
          <th class="min-w-150px">Price</th>
          <th class="min-w-150px">School Name</th>
          <th class="min-w-150px">Grade</th>
          <th class="min-w-240px">Books</th>
          <th class="min-w-100px text-end">Actions</th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody *ngIf="bundles && bundles.length > 0; else noBooks">
        <tr *ngFor="let bundle of bundles">
          <td>
            <div class="form-check form-check-sm form-check-custom form-check-solid">
              <input class="form-check-input widget-9-check" type="checkbox" value="1" />
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-start flex-column">
                <span class="text-gray-900 fw-bolder text-hover-primary fs-6">
                  {{ bundle?.bundleName }}
                </span>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-wrap gap-2">
              <span class="text-gray-900 fw-bolder text-hover-primary fs-6">
                ${{ bundle?.price }}
              </span>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-start flex-column">
                <span class="text-gray-900 fw-bolder text-hover-primary fs-6">
                  {{ getSchoolName(bundle.school) }}
                </span>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-start flex-column">
                <span class="text-gray-900 fw-bolder text-hover-primary fs-6">
                  {{ getGrade(bundle.grade) }}
                </span>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-wrap gap-2">
              <span class="text-decoration-underline text-primary cursor-pointer fw-bolder fs-6"
                (click)="openShowBook(modalBookShow, bundle?.books)">
                {{ bundle?.books?.length }}
              </span>

            </div>
          </td>

          <td>
            <div class="d-flex justify-content-end flex-shrink-0">
              <button class="btn btn-icon btn-bg-light btn-sm me-1" (click)="viewBundle(modalContent, bundle)">
                <app-keenicon name="notepad" class="fs-3"></app-keenicon>
              </button>
              <button class="btn btn-icon btn-bg-light btn-sm me-1" (click)="editBundle(modalContent, bundle)">
                <app-keenicon name="pencil" class="fs-3"></app-keenicon>
              </button>
              <button class="btn btn-icon btn-bg-light btn-sm" (click)="deleteBundle(bundle?.id)">
                <app-keenicon name="trash" class="fs-3"></app-keenicon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <ng-template #noBooks>
        <tr>
          <td colspan="6" class="text-center">No Bundles found.</td>
        </tr>
      </ng-template>

      <!-- end::Table body -->
    </table>

    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>
<!-- begin::Body -->
<ng-template #loading>
  <div class="text-center my-5">
    <div class="spinner-border text-primary" role="status"></div>
    <p class="mt-3">Loading Bundles details...</p>
  </div>
</ng-template>

<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title">
      {{ isViewMode ? 'View' : (currentBundleId ? 'Update' : 'Add') }} Bundle</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="bundleForm">


      <div class="mb-6 d-flex justify-content-center">
        <input type="file" #fileInput (change)="onFileChange($event)" hidden />

        <div class="img-wrapper" (click)="fileInput.click()">
          <img [src]="currentBundleId ? 'data:image/png;base64,' + bundleForm.get('image')?.value : dummyImg" />
        </div>

      </div>

      <div class="row mb-6">
        <label class="col-lg-3 col-form-label fw-bold fs-6"><span>Bundle Name</span></label>
        <div class="col-lg-9 ">
          <input type="text" class="form-control form-control-lg form-control-solid" formControlName="bundleName"
            placeholder="Enter Bundle Name" />
        </div>
      </div>

      <div class="row mb-6">
        <label class="col-lg-3 col-form-label fw-bold fs-6"><span class="required">Grade</span></label>
        <div class="col-lg-9 d-flex gap-5">
          <select class="form-select form-select-solid form-select-lg" formControlName="grade">
            <option value="null" selected>Select a Grade...</option>
            @for (grade of grades; track $index) {
            <option [value]="grade.id">{{ grade.name }} </option>
            }
          </select>
          <button *ngIf="!isViewMode" class="btn btn-primary w-25 p-0" (click)="openGrade(modalGrade)">Add Grade</button>
        </div>
      </div>

      <div class="row mb-6">
        <label class="col-lg-3 col-form-label fw-bold fs-6"><span class="required">School</span></label>
        <div class="col-lg-9 d-flex gap-5">
          <select class="form-select form-select-solid form-select-lg" formControlName="school">
            <option value="null" selected>Select a School...</option>
            @for (school of schools; track $index) {
            <option [value]="school.id">{{ school.name }} </option>
            }
          </select>
          <button *ngIf="!isViewMode" class="btn btn-primary w-25 p-0" (click)="openSchool(modalSchool)">Add School</button>
        </div>
      </div>

      <div class="mb-6 text-center" *ngIf="!isViewMode">
        <button class="btn btn-primary w-25" (click)="openSelectBooks(modalBook)">Add Books in Bundle</button>
      </div>

      <div class="row mb-6" *ngIf="selectedBooks.length > 0">
        <h1 class="fw-bold fs-3">Books List</h1>
      </div>
      <div class="row fw-bold fs-4 border-bottom pb-2 mb-3 text-center">
        <div class="col-3 text-start">Book Name</div>
        <div class="col-3 text-start">Price</div>
        <div class="col-3 text-start">Quantity</div>
        <div class="col-2">Total</div>
        <div class="col-1" *ngIf="!isViewMode">Action</div>
      </div>

      <div class="row mb-3 align-items-center" *ngFor="let bookGroup of booksFormArray.controls; let i = index">
        <div class="col-3 text-start">
          {{ bookGroup.get('bookName')?.value }}
        </div>
        <div class="col-3">
          <input type="number" class="form-control form-control-lg form-control-solid"
            [formControl]="getBookControl(i, 'price')" />
        </div>
        <div class="col-3">
          <input type="number" class="form-control form-control-lg form-control-solid"
            [formControl]="getBookControl(i, 'quantity')" />
        </div>
        <div class="col-2 text-center fw-bold fs-5">
          {{
          (getBookControl(i, 'price').value || 0) *
          (getBookControl(i, 'quantity').value || 0)
          }}
        </div>
        <div class="col-1 text-center" *ngIf="!isViewMode">
          <button type="button" class="btn btn-outline-danger" (click)="onRemoveBook(i)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>

      <div class="w-100 d-flex align-items-center justify-content-end mb-3"*ngIf="!isViewMode">
        <div class="row w-50">
          <label class="col-lg-5 text-end col-form-label fw-bold fs-6"><span>Discount</span></label>
          <div class="col-lg-6">
            <input type="number" class="form-control form-control-lg form-control-solid" formControlName="discount" />
          </div>
        </div>
      </div>
      <div class="w-100 d-flex align-items-center justify-content-end mb-3"*ngIf="!isViewMode">
        <div class="row w-50">
          <label class="col-lg-5 text-end col-form-label fw-bold fs-6"><span>Bundle Price</span></label>
          <div class="col-lg-6">
            <input type="number" class="form-control form-control-lg form-control-solid" formControlName="price" />
          </div>
        </div>
      </div>


      <div class="text-center" *ngIf="!isViewMode">
        <button type="submit" class="btn btn-primary" [disabled]="bundleForm.invalid" (click)="submitBundle(modal)">
          {{ currentBundleId ? 'Update' : 'Add' }} Bundle
        </button>
      </div>


    </form>
  </div>
</ng-template>

<ng-template #modalBookShow let-modalShow>
  <div class="modal-header">
    <h5 class="modal-title"> Books </h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalShow.dismiss()"></button>
  </div>
  <div class="modal-body">
    <app-books-list [books]='showBooks'></app-books-list>
  </div>
</ng-template>


<ng-template #modalBook let-modalB>
  <div class="modal-header">
    <h5 class="modal-title"> Books </h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalB.dismiss()"></button>
  </div>
  <div class="modal-body">
    <app-books-list [books]="books" [isSelect]="true" (selectedBooksEmit)="handleSelectedBooks($event, modalB)">
    </app-books-list>
  </div>
</ng-template>

<ng-template #modalGrade let-modalG>
  <div class="modal-header">
    <h4 class="modal-title">Add Grade</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalG.dismiss()"></button>
  </div>

  <div class="modal-body p-3">
    <form (ngSubmit)="submit(modalG)" #gradeForm="ngForm">
      <div class="mb-3">
        <label for="name" class="form-label">Grade Name</label>
        <div class="d-flex gap-5">
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="grade.name" required />
          <button type="button" class="btn btn-primary" [disabled]="!grade.name" (click)="submit(modalG)">Save</button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="grades.length > 0" class="m-3">
    <h5>Grade List</h5>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let g of grades">
        {{ g.name }}
        <div>
          <button class="btn btn-sm btn-outline-danger" (click)="deleteGrade(g.id)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>

</ng-template>

<ng-template #modalSchool let-modalS>
  <div class="modal-header">
    <h4 class="modal-title">Add School</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalS.dismiss()"></button>
  </div>

  <div class="modal-body p-3">
    <form (ngSubmit)="submitSchool(modalS)">
      <div class="mb-3">
        <label for="name" class="form-label">School Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="school.name" required />
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Representative</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="school.representative" required />
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Phone Number</label>
        <input type="number" class="form-control" id="name" name="name" [(ngModel)]="school.phoneNumber" required />
      </div>
      <div class="text-end">
        <button type="button" class="btn btn-primary"
          [disabled]="!school.name || !school.representative || !school.phoneNumber"
          (click)="submitSchool(modalS)">Save</button>
      </div>
    </form>
  </div>
  <div *ngIf="schools.length > 0" class="m-3">
    <h5>Schools List</h5>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let g of schools">
        {{ g.name }}
        <div>
          <button class="btn btn-sm btn-outline-danger" (click)="deleteSchool(g.id)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>

</ng-template>

<swal #noticeSwal [swalOptions]="swalOptions">
</swal>
